attrs==23.1.0 ; python_version >= "3.11" and python_version < "4"
certifi==2023.5.7 ; python_version >= "3.11" and python_version < "4"
charset-normalizer==3.1.0 ; python_version >= "3.11" and python_version < "4"
dacite==1.8.1 ; python_version >= "3.11" and python_version < "4"
idna==3.4 ; python_version >= "3.11" and python_version < "4"
jsonschema==4.17.3 ; python_version >= "3.11" and python_version < "4"
pyrsistent==0.19.3 ; python_version >= "3.11" and python_version < "4"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4"
urllib3==2.0.3 ; python_version >= "3.11" and python_version < "4"
